body{
    height:290vh;
}

.prgpercent{
    position: relative;
    top: 5vh;
    left: 3vw;
    position: fixed;
    font-size: 20vh;
    font-family: "Barlow", sans-serif;
     font-weight: 600;
    font-style: italic;
    
}

#msg{
    position: fixed;
    top: 10px;
    right: 100px;
    font-size: 20px;
}